.main-app {
    background-color: #000;
    color: #fff;
    padding: 15px;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

/* Font Sizes */
h1 {
    width: 100%;
    padding-bottom: 20px;
}

h3 {
    font-size: 1.3rem;
}

.title {
    font-size: 26px;
}

.second-title {
    font-size: 24px;
}

.third-title {
    font-size: 20px;
}

p {
    padding: 10px 0;
    font-size: 0.9rem;
}

span {
    font-size: 0.9rem;
}

/* Search Bar */
.search-bar {
    max-width: 400px;
    margin: 20px auto;
}

/* Popular Movies */
.popular-movies {
    height: 500px;
    padding: 25px;
}

.popular-movies-img {
    text-align: center;
}

@media screen and (max-width: 430px){
    .popular-movies-img {
        padding: 0;
    }

    .popular-movies-img img {
        width: 150px;
    }
}

/* Star Icon */
.fa-star {
    color: yellow;
}

/* Carousel */
.carousel {
    max-height: 300px;
    max-width: 800px;
    margin: 0 auto;
}

.carousel-control-prev {
    left: -65px;
}

.carousel-control-next {
    right: -65px;
}

.carousel-indicators {
    bottom: -65px;
}

/* Search Results */
.results-container {
    background-color: #272727;
    position: relative;
    bottom: 17px;
    max-width: 400px;
    margin: 0 auto;
}

.search-results{
    padding: 10px;
    display: flex;
    border-bottom: 0.5px solid #fff;
}

.search-results .col {
    padding: 0;
    margin: 0 10px;
    width: 50%;
}

.results-image {
    max-width: 100px;
}

.results-info {
    padding: 5px 15px;
}

/* Selected Movie */

.return-main {
    padding-left: 15px;
}

.movie-poster {
    text-align: center;
}

.col-12 {
    padding: 15px;
}

@media screen and (max-width: 700px){
    .movie-poster img {
        width: 200px;
    }

    .title {
        font-size: 20px;
    }
    
    .second-title {
        font-size: 18px;
    }
    
    .third-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 475px){
    .movie-poster img {
        width: 150px;
    }
}